# Workflow name
name: 'Chromatic Deployment'

# Event for the workflow
on: push

# List of jobs
jobs:
  test:
    # Operating System
    runs-on: ubuntu-latest
    # Job steps
    steps:
      - uses: actions/checkout@v1
      - run: yarn
      # Adds Chromatic as a step in the workflow
      - uses: chromaui/action@v1
      # Options required for Chromatic's Github Actions
      with:
        projectToken: 032d75502f0adffa76f
        token: ${{ secrets.GITHUB_TOKEN }}
